In [1]:
import os
import openpyxl
import xlrd
import pandas as pd
import json
from dbfread import DBF

In [2]:
root = 'data/latest_sales_data'

# Initialize an empty dictionary to hold dataframes
dataframes = {}

# Define a function to load a file into a dataframe
def load_file_to_df(path, filename):
    if filename.endswith('.xlsx') or filename.endswith('.xls'):
        return pd.read_excel(os.path.join(path, filename))
    elif filename.endswith('.csv'):
        return pd.read_csv(os.path.join(path, filename), on_bad_lines='skip')
    elif filename.endswith('.json') or filename.endswith('.geojson'):
        with open(os.path.join(path, filename)) as f:
            data = json.load(f)
        return pd.json_normalize(data)
    elif filename.endswith('.dbf'):
        dbf = DBF(os.path.join(path, filename))
        return pd.DataFrame(iter(dbf))
    else:
        return None

# Walk through each directory
for root, dirs, files in os.walk(root):
    for file in files:
        # Ignore metadata files
        if 'metadata' not in file.lower():
            print(f'Loading {file} from {root}')
            df = load_file_to_df(root, file)
            if df is not None:
                # Use the directory name as the key
                key = os.path.basename(root)
                # If key already exists, append the new dataframe
                if key in dataframes:
                    dataframes[key] = pd.concat([dataframes[key], df])
                else:
                    dataframes[key] = df

Loading Alachua.xlsx from data/latest_sales_data/Alachua County
Loading 2024 Sales.xlsx from data/latest_sales_data/Baker County
Loading 2023 Sales.xlsx from data/latest_sales_data/Baker County
Loading Bay County.xlsx from data/latest_sales_data/Bay County

/home/apratim/miniconda3/envs/geo_env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Loading Bradford.csv from data/latest_sales_data/Bradford County
Loading 2024 Sales Data.xlsx from data/latest_sales_data/Calhoun County
Loading 2023 Sales Data.xlsx from data/latest_sales_data/Calhoun County
Loading Charlotte County.xls from data/latest_sales_data/Charlotte County
Loading Citrus2024.xlsx from data/latest_sales_data/Citrus County
Loading Citrus2023.xlsx from data/latest_sales_data/Citrus County
Loading 2024 Sales YTD.xlsx from data/latest_sales_data/Clay County
Loading Collier.csv from data/latest_sales_data/Collier County
Loading Columbia 2024 .xlsx from data/latest_sales_data/Columbia County
Loading Colombia 2023 .xlsx from data/latest_sales_data/Columbia County
Loading Desoto 2024.xlsx from data/latest_sales_data/DeSoto County
Loading Desoto 2023 .xlsx from data/latest_sales_data/DeSoto County
Loading Dixie.xlsx from data/latest_sales_data/Dixie County
Loading Escambia.csv from data/latest_sales_data/Escambia County
Loading Flagler.xlsx from data/latest_sales_data/Flagler County
Loading Franklin.xlsx from data/latest_sales_data/Franklin County
Loading Gadsen.xlsx from data/latest_sales_data/Gadsen County
Loading Gilchrist.xlsx from data/latest_sales_data/Gilchrist County
Loading Glades.xlsx from data/latest_sales_data/Glades County
Loading Gulf.xlsx from data/latest_sales_data/Gulf County
Loading Hamilton.xlsx from data/latest_sales_data/Hamilton County
Loading Hardee.xlsx from data/latest_sales_data/Hardee County
Loading Hendry.xlsx from data/latest_sales_data/Hendry County
Loading Highland.csv from data/latest_sales_data/Highland County
Loading allsales.dbf from data/latest_sales_data/Hillsborough County
Loading Holmes.xlsx from data/latest_sales_data/Holmes County
Loading Indianriver.xlsx from data/latest_sales_data/Indian River County
Loading Jackson.xlsx from data/latest_sales_data/Jackson County
Loading Jefferson.xlsx from data/latest_sales_data/Jefferson County
Loading Lake 2023.xlsx from data/latest_sales_data/Lake County
Loading Leon.xlsx from data/latest_sales_data/Leon County

In [3]:
for key in dataframes.keys():
    print(key)
    dataframes[key].info(show_counts=True)

Alachua County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4293 entries, 0 to 4292
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Parcel ID                4293 non-null   object
 1   Address                  3958 non-null   object
 2   Sale Date                4293 non-null   object
 3   Sale Price               4293 non-null   object
 4   Qualified Sales          4293 non-null   object
 5   Reason                   4293 non-null   object
 6   Book                     4293 non-null   int64
 7   Page                     4293 non-null   object
 8   Instrument               4293 non-null   object
 9   Acres                    4293 non-null   float64
 10  Property Use             4283 non-null   object
 11  Tax District             4293 non-null   object
 12  Just Value               4293 non-null   object
 13  Year  Built              3276 non-null   float64
 14  Exterior Wall            2891 non-null   object
 15  Heated Sq Ft             3276 non-null   float64
 16  Price Per  Heated SqFt   4293 non-null   object
 17  Neighborhood             3933 non-null   object
 18  Subdivision              3399 non-null   object
 19  Sec/Twp/Rng              4283 non-null   object
 20  Vacant                   3933 non-null   object
 21  Land Use                 3912 non-null   object
 22  Building Use             3287 non-null   object
 23  Bedrooms                 3148 non-null   object
 24  Bathrooms                3161 non-null   object
 25  Zipcode                  3968 non-null   float64
 26  Mailing Address          4293 non-null   object
dtypes: float64(4), int64(1), object(22)
memory usage: 905.7+ KB
Baker County
<class 'pandas.core.frame.DataFrame'>
Index: 851 entries, 0 to 760
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Parcel #                         851 non-null    object
 1   Date of Sale                     851 non-null    datetime64[ns]
 2   Sales Price                      851 non-null    int64
 3   Instrument Number                851 non-null    int64
 4   Vac/Imp Code                     851 non-null    object
 5   Use Code                         845 non-null    float64
 6   Taxing District                  851 non-null    object
 7   Owner Name 1                     851 non-null    object
 8   Owner Name 2                     428 non-null    object
 9   Site Address                     851 non-null    object
 10  Primary Building Use Code        557 non-null    float64
 11  Primary Building Adjusted Sq Ft  557 non-null    float64
 12  Primary Building Heated Sq Ft    557 non-null    float64
 13  Primary Building Year Built      557 non-null    float64
 14  land_units                       851 non-null    float64
 15  land_type                        851 non-null    object
 16  Market Value                     851 non-null    int64
 17  Building Value                   851 non-null    int64
 18  Extra Feature Value              851 non-null    int64
 19  Land Value                       851 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(6), object(7)
memory usage: 139.6+ KB
Bay County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19469 entries, 0 to 19468
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PIN_DSP     19469 non-null  object
 1   OWNER_NAME  19469 non-null  object
 2   ADDRESS_1   19469 non-null  object
 3   ADDRESS_2   2409 non-null   object
 4   ADDRESS_3   113 non-null    object
 5   CITY_NAME   19466 non-null  object
 6   ST          19462 non-null  object
 7   ZIPCODE     19466 non-null  object
 8   USEDESC     19469 non-null  object
 9   TAXDIST     19469 non-null  int64
 10  HOUSE_NO    18251 non-null  object
 11  STREET      19469 non-null  object
 12  ST_MD       18575 non-null  object
 13  ST_CITY     19469 non-null  object
 14  ST_ZIP5     19469 non-null  int64
 15  SASEQNO     19469 non-null  int64
 16  SARBOOK     19469 non-null  int64
 17  SARPAGE     19469 non-null  int64
 18  SASINS      19469 non-null  object
 19  SAGNTR      19469 non-null  object
 20  SAGNTE      19467 non-null  object
 21  SAPYR       19469 non-null  int64
 22  SARDATE     19469 non-null  int64
 23  Sale Date   19469 non-null  datetime64[ns]
 24  SAPRICE     19469 non-null  int64
 25  TOTACRES    19469 non-null  float64
 26  LEGL1       19469 non-null  object
 27  LEGL2       19469 non-null  object
 28  LEGL3       19459 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(8), object(19)
memory usage: 4.3+ MB
Bradford County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1698 entries, 0 to 1697
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sale_Date    1698 non-null   object
 1   Price        1698 non-null   int64
 2   V/I          1698 non-null   object
 3   Qual         1698 non-null   object
 4   OR           1697 non-null   object
 5   Book         1500 non-null   float64
 6   Page         1498 non-null   float64
 7   Name         1698 non-null   object
 8   Street       1690 non-null   object
 9   SType        1260 non-null   object
 10  PIN          1698 non-null   object
 11  Total_Acres  1698 non-null   float64
 12  Use          1698 non-null   object
 13  Appr_Value   1698 non-null   int64
 14  Tax_Value    1698 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 199.1+ KB
Calhoun County
<class 'pandas.core.frame.DataFrame'>
Index: 1349 entries, 0 to 1147
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   conf_flg      1349 non-null   int64
 1   parcel_id     1349 non-null   int64
 2   dsp_strap     1349 non-null   object
 3   use_cd        1349 non-null   int64
 4   or_bk         1349 non-null   int64
 5   or_pg         1349 non-null   int64
 6   instr_num     0 non-null      float64
 7   transfer_fee  1343 non-null   float64
 8   dos           1349 non-null   datetime64[ns]
 9   price         1349 non-null   int64
 10  bxl_val       1349 non-null   int64
 11  instr_cd      1349 non-null   object
 12  dscr          1349 non-null   object
 13  trns_cd       1346 non-null   float64
 14  dscr.1        1346 non-null   object
 15  qu_cd         1346 non-null   object
 16  ncon_val      1349 non-null   int64
 17  demo_val      1349 non-null   int64
 18  chg_cd        17 non-null     float64
 19  dscr.2        17 non-null     object
 20  Grantor       1349 non-null   object
 21  Grantee       1349 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(9), object(8)
memory usage: 242.4+ KB
Charlotte County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11916 entries, 0 to 11915
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PADStreetNumber        11769 non-null  float64
 1    PADStreetName         11769 non-null  object
 2   PADCity                11769 non-null  object
 3    PADZip                11769 non-null  float64
 4   Account                11916 non-null  int64
 5   Taxyear                11916 non-null  int64
 6   SaleDate               11916 non-null  datetime64[ns]
 7   SalePrice              11916 non-null  int64
 8   Landuse                11916 non-null  object
 9   landusecode            11916 non-null  int64
 10  CertifiedJustValue     11916 non-null  int64
 11  CertifiedTaxableValue  11916 non-null  int64
 12   certifyyear           11916 non-null  int64
 13  ShortLegal             11916 non-null  object
 14  YearBuilt              11916 non-null  int64
 15  OwnersName             11898 non-null  object
 16  MailingAddress         142 non-null    object
 17  Suite                  2321 non-null   object
 18  MailingAddress2        11898 non-null  object
 19  City                   11898 non-null  object
 20  State                  11805 non-null  object
 21  Country                198 non-null    object
 22  ZipCode                11804 non-null  object
 23  BusinessName           532 non-null    object
 24  zoning                 11916 non-null  object
 25  book                   11916 non-null  int64
 26  page                   11916 non-null  int64
 27  salecode               11916 non-null  object
 28  ACarea                 11916 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(15)
memory usage: 2.6+ MB
Citrus County
<class 'pandas.core.frame.DataFrame'>
Index: 22250 entries, 0 to 19132
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ALTKEY     22250 non-null  int64
 1   PARCEL ID  22250 non-null  object
 2   PC         22250 non-null  int64
 3   NCD        22250 non-null  int64
 4   OWNER      22250 non-null  object
 5   ADDR3      22242 non-null  object
 6   ADDR4      76 non-null     object
 7   ZIP        22250 non-null  object
 8   BOOK       22250 non-null  int64
 9   PAGE       22250 non-null  int64
 10  SALE_DATE  22250 non-null  object
 11  VAC-IMP    22250 non-null  object
 12  INCD       22250 non-null  int64
 13  QUALIFIED  22247 non-null  object
 14  DOR_CODE   22247 non-null  float64
 15  PRICE      22250 non-null  int64
dtypes: float64(1), int64(7), object(8)
memory usage: 2.9+ MB
Clay County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Parcel ID   356 non-null    object
 1   Sale Date   356 non-null    datetime64[ns]
 2   Sale Price  356 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 8.5+ KB
Collier County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29934 entries, 0 to 29933
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    29934 non-null  int64
 1   parcelid    29934 non-null  int64
 2   seqno       29934 non-null  int64
 3   salebook    29934 non-null  int64
 4   salepage    29934 non-null  int64
 5   saledate    29934 non-null  int64
 6   sale date   1948 non-null   object
 7   saleamount  29934 non-null  object
 8   qualcode    29934 non-null  int64
 9   trancode    29934 non-null  int64
dtypes: int64(8), object(2)
memory usage: 2.3+ MB
Columbia County
<class 'pandas.core.frame.DataFrame'>
Index: 2044 entries, 0 to 1640
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sale_Date    2044 non-null   datetime64[ns]
 1   Price        2044 non-null   int64
 2   V/I          2044 non-null   object
 3   Qual         2044 non-null   object
 4   OR           2044 non-null   object
 5   Book         2044 non-null   int64
 6   Page         2044 non-null   int64
 7   Name         2044 non-null   object
 8   Street       1658 non-null   object
 9   SType        1533 non-null   object
 10  PIN          2044 non-null   object
 11  Total_Acres  2044 non-null   float64
 12  Use          2044 non-null   object
 13  Appr_Value   2044 non-null   int64
 14  Tax_Value    2044 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 255.5+ KB
DeSoto County
<class 'pandas.core.frame.DataFrame'>
Index: 1189 entries, 0 to 1023
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sale_Date    1189 non-null   datetime64[ns]
 1   Price        1189 non-null   int64
 2   V/I          1189 non-null   object
 3   Qual         1189 non-null   object
 4   OR           1189 non-null   object
 5   Book         1189 non-null   int64
 6   Page         1189 non-null   int64
 7   Name         1189 non-null   object
 8   Street       1189 non-null   object
 9   SType        920 non-null    object
 10  PIN          1189 non-null   object
 11  Total_Acres  1189 non-null   float64
 12  Use          1189 non-null   object
 13  Appr_Value   1189 non-null   int64
 14  Tax_Value    1189 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 148.6+ KB
Dixie County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Parcel ID         527 non-null    object
 1   Address           527 non-null    object
 2   Owner Name        527 non-null    object
 3   Sale Date         527 non-null    object
 4   Sale Price        527 non-null    object
 5   Qualified Sales   527 non-null    object
 6   Reason            527 non-null    object
 7   Acres             527 non-null    float64
 8   Parcel  Class     527 non-null    object
 9   Tax District      527 non-null    object
 10  Assessed  Value   527 non-null    object
 11  Square Ft         245 non-null    float64
 12  Sec/Twp/Rng       527 non-null    object
dtypes: float64(2), object(11)
memory usage: 53.7+ KB
Escambia County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13088 entries, 0 to 13087
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account         13088 non-null  int64
 1   Parcel ID       13088 non-null  object
 2   DorCd           13088 non-null  int64
 3   Subdivision     11164 non-null  object
 4   Sale Date       13088 non-null  object
 5   Sale Price      13088 non-null  int64
 6   Book            13088 non-null  int64
 7   Page            13088 non-null  int64
 8   Qual. Status    13088 non-null  object
 9   Vac<br/>/Imprv  13088 non-null  object
 10  Instr Type      13088 non-null  object
 11  Parcel Count    13088 non-null  int64
dtypes: int64(6), object(6)
memory usage: 1.2+ MB
Flagler County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Parcel Number    2311 non-null   object
 1   Address          2239 non-null   object
 2   Owner Name       2306 non-null   object
 3   Sale Date        2311 non-null   object
 4   Sale Price       2311 non-null   object
 5   Qualified Sales  2311 non-null   object
 6   Book             2306 non-null   float64
 7   Page             2306 non-null   float64
 8   Instrument       2311 non-null   object
 9   Acres            2311 non-null   float64
 10  Tax District     2311 non-null   int64
 11  Just  Value      2311 non-null   object
 12  Year  Built      1273 non-null   float64
 13  Square Ft        1273 non-null   float64
 14  Sec/Twp/Rng      2311 non-null   object
 15  Vacant/Impr      2311 non-null   object
 16  Land Value       2311 non-null   object
 17  Owner Name 2     238 non-null    object
 18  Owner Address 1  2306 non-null   object
 19  Owner Address 2  318 non-null    object
 20  Owner C/S/Z      2306 non-null   object
dtypes: float64(5), int64(1), object(15)
memory usage: 379.3+ KB
Franklin County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 62 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Property ID                      1414 non-null   object
 1   Sale Date                        1414 non-null   datetime64[ns]
 2   Sale Price                       1414 non-null   int64
 3   Adj Sale Price                   1 non-null      float64
 4   Instrument Number                1414 non-null   int64
 5   Book                             1414 non-null   int64
 6   Page                             1414 non-null   int64
 7   Instrument Code                  1414 non-null   object
 8   Instrument Description           1414 non-null   object
 9   Transaction Code                 1414 non-null   int64
 10  Transaction Description          1414 non-null   object
 11  Red Flag                         0 non-null      float64
 12  Seller Name                      1413 non-null   object
 13  Buyer Name                       1414 non-null   object
 14  Sale Note                        56 non-null     object
 15  Site Address                     1255 non-null   object
 16  Site City                        764 non-null    object
 17  Site State                       43 non-null     object
 18  Site Zip                         1343 non-null   float64
 19  Owner Name                       1414 non-null   object
 20  Mail C/O                         5 non-null      object
 21  Mail Address 1                   1414 non-null   object
 22  Mail Address 2                   652 non-null    object
 23  Mail Address 3                   4 non-null      object
 24  Mail City                        1414 non-null   object
 25  Mail State                       1414 non-null   object
 26  Mail Zip                         1414 non-null   object
 27  Primary Building Num             627 non-null    object
 28  Primary Building Area            627 non-null    float64
 29  Primary Building Year Built      627 non-null    float64
 30  Primary Building WAY             627 non-null    float64
 31  Building Count                   1414 non-null   int64
 32  Parcel Size                      1411 non-null   float64
 33  Parcel Size Units                1411 non-null   object
 34  Taxable Value                    1414 non-null   int64
 35  Net Assessed Value               1414 non-null   int64
 36  Use Code                         1414 non-null   int64
 37  Use Code Description             1414 non-null   object
 38  Subdivision Code                 10 non-null     float64
 39  Subdivision                      10 non-null     object
 40  Tax Year (h)                     1404 non-null   float64
 41  Taxable Value (h)                1404 non-null   float64
 42  Assessed Exemption Value (h)     1404 non-null   float64
 43  Net Assessed Value (h)           1404 non-null   float64
 44  Building Value (h)               1404 non-null   float64
 45  Extra Features Value (h)         1404 non-null   float64
 46  Total Land Value (h)             1404 non-null   float64
 47  Personal Property Value (h)      1404 non-null   float64
 48  New Personal Property Value (h)  1404 non-null   float64
 49  New Improvements Value (h)       1404 non-null   float64
 50  New Land Value (h)               1404 non-null   float64
 51  AG land value (h)                1404 non-null   float64
 52  Sale Year                        1414 non-null   int64
 53  Taxable Value (Sale Year)        1178 non-null   float64
 54  Net Assessed Value (Sale Year)   1178 non-null   float64
 55  Tax District Code                1414 non-null   int64
 56  Tax District                     1414 non-null   object
 57  Use Code at Sale                 1414 non-null   int64
 58  Use Description at Sale          1414 non-null   object
 59  Zoning at Sale                   3 non-null      float64
 60  Parcel Land Units                1414 non-null   float64
 61  Parcel Land Units Code           1411 non-null   object
dtypes: datetime64[ns](1), float64(24), int64(12), object(25)
memory usage: 685.0+ KB
Gadsen County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Parcel ID             533 non-null    object
 1   Address               533 non-null    object
 2   Sale Date             533 non-null    object
 3   Sale Price            533 non-null    object
 4   Qualified Sales       533 non-null    object
 5   Book                  533 non-null    int64
 6   Page                  533 non-null    int64
 7   Instrument            533 non-null    object
 8   Acres                 533 non-null    float64

In [4]:
root = 'data/latest_sales_data'

# Initialize an empty dictionary to hold metadata dataframes
metadata_dfs = {}

# Define a function to load a file into a dataframe
def load_metadata_file_to_df(path, filename):
    if filename.endswith('.xlsx') or filename.endswith('.xls'):
        return pd.read_excel(os.path.join(path, filename))
    elif filename.endswith('.csv'):
        return pd.read_csv(os.path.join(path, filename))
    elif filename.endswith('.json') or filename.endswith('.geojson'):
        with open(os.path.join(path, filename)) as f:
            data = json.load(f)
        return pd.json_normalize(data)
    elif filename.endswith('.dbf'):
        dbf = DBF(os.path.join(path, filename))
        return pd.DataFrame(iter(dbf))
    else:
        return None

# Walk through each directory
for root, dirs, files in os.walk('.'):
    for file in files:
        # Only load metadata files
        if 'metadata' in file.lower():
            df = load_metadata_file_to_df(root, file)
            if df is not None:
                # Use the directory name as the key
                key = os.path.basename(root)
                # If key already exists, append the new dataframe
                if key in metadata_dfs:
                    metadata_dfs[key] = pd.concat([metadata_dfs[key], df])
                else:
                    metadata_dfs[key] = df

In [5]:
for key in metadata_dfs.keys():
    print(key)
    metadata_dfs[key].info(show_counts=True)

Alachua County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Baker County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Bay County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Bradford County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Calhoun County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Charlotte County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Citrus County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Clay County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Collier County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Columbia County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
DeSoto County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Dixie County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Escambia County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Flagler County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Franklin County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Gadsen County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Gilchrist County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Glades County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Gulf County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Hamilton County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Hardee County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Hendry County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Highland County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Hillsborough County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Holmes County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Indian River County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Jackson County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Jefferson County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Lake County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
Leon County
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Original Column Name   3 non-null      object
 1   Effective Column Name  3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

In [6]:
# Iterate over each key in the dataframes dictionary
for key in dataframes.keys():
    # Get the current dataframe and its corresponding metadata dataframe
    df = dataframes[key]
    metadata_df = metadata_dfs[key]

    # Create a dictionary mapping original column names to effective column names
    # Use strip to remove leading and trailing spaces
    rename_dict = pd.Series(metadata_df['Effective Column Name'].str.strip().values, index=metadata_df['Original Column Name'].str.strip()).to_dict()

    # Select only the columns that are in the rename_dict keys and rename them
    try:
        dataframes[key] = df[rename_dict.keys()].rename(columns=rename_dict)
    except KeyError as e:
        print(f"Error in {key} metadata: {str(e)}. Please check the 'Original Column Name' in the metadata file.")

In [7]:
# Concatenate all dataframes in the dictionary
combined_df = pd.concat(dataframes.values(), ignore_index=True)

In [8]:
combined_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2470319 entries, 0 to 2470318
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ParcelID    127467 non-null   object
 1   Sale Date   2441977 non-null  object
 2   Sale Price  2470319 non-null  object
 3   PIN         2342725 non-null  object
dtypes: object(4)
memory usage: 75.4+ MB

In [9]:
combined_df.to_csv('data/compiled_latest_sales_data.csv', index=False)